:root{
    --Dark-Gray: hsl(0, 0%, 63%);
    --Black: hsl(0, 0%, 0%);
    --White: hsl(0, 0%, 100%);
    --Very-Dark-Gray: hsl(0, 0%, 27%);
}
*{
    box-sizing: border-box;
    /* margin: 0; */
}
body{
    font-family: 'League Spartan', sans-serif;
    /* font-size: 12px; */
   /*  position: absolute;
    width: 1440px;
    height: 100%; */
}
p{
    font-weight: 500;
    color: var(--Dark-Gray);
    line-height: 1.5;
    font-size: 14px;
    word-spacing: 3px;
}
h1{
    font-size: 35px;
    font-weight: 700;
    margin: 0;
}
h3{
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 15px;
}
main{
    position: absolute;
    width: 1440px;
    height: 100%;
}
ul,li{
    margin: 0 20px 0 0;
    display: inline;
    list-style: none;
    
}
li:hover{
    text-decoration: underline;
    cursor: pointer;
    
}
.nav__bar{
    position: absolute;
    left: 20px;
    color: var(--White);
    padding: 20px 0 0 30px;
} 
.main__tittle{
    padding: 0;
    margin: 0;
    color: var(--White);
    font-size: 30px;
    display: inline-block;
}
.top__section{
    width: 100%;
    height: 60%;
    position: relative;
}
.home__section{
    background-image: url(../images/desktop-image-hero-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    width: 55%;
    height: 100%;

}
.shop__section{
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 45%;
    right: 0;
    bottom: 0;
    padding: 70px 85px;
    word-wrap: break-word;
}
.shop__button{
    display: block;
}

.buttons__position{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: black;
}
.bottom__section{
    position: relative;
    width: 100%;
    height: 40%;
}
button{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: black;
    margin: 0;
}
button:hover{
    cursor: pointer;
}
.icon{
    width: 8px;
    height: 15px;
    background-color: black;
}
.icon__arrow{
    width: 50px;
    height: 12px;
}
.shop__button{
    display: inline-block;
    text-decoration: none;
    color:var(--Dark-Gray);
    letter-spacing: 10px;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 10px;
}

/* .direction__btn__left{
    background-image: url(../images/icon-angle-left.svg);
    background-size: cover;
    background-position: center;
    background-color: black;
    padding: 10px;
    width: 14px;
    height: 24px;    
} */

img{
    background-size: cover;
}
.about__image__left{
    width: 30%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left:0;
}
.about__image__right{
    width: 30%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
   
}
.about__text{
    width: 40%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left:30%;
    padding: 40px;

}
.attribution {
    font-size: 11px;
    text-align: center;
  }

.attribution a {
    color: hsl(228, 45%, 44%);
  }
