<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>PokeCard</title>
  </head>
  <body>
    <main class="main__container">
      <div class="card__container">
        <div class="card__info">
          <div class="top__bar">
            <div class="name">
              <img src="/resources/basic.svg" alt="tipo-de-pokemon" />
              <p>Nombre</p>
            </div>
            <div class="vida">
              <p>Vida</p>
              <img src="/resources/tipo__icon.svg" alt="" />
            </div>
          </div>
          <div class="pokemon__image"></div>
          <div class="pie__de__foto">
            <p>Nro:...</p>
            <p>Peso:...</p>
            <p>Altura:...</p>
          </div>
          <article class="habilidad__info">
            <h3>Nombre de habilidad</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                 Nunc sed ante ex. Mauris euismod interdum ligula, at rhoncus sapien hendrerit eget.
                 Ut et eros ex. Sed ut ultrices lorem.</p>
          </article>
          <article class="footer__info">
            <p class="atq">Ataque:...</p>
            <p class="dfs">Defensa:...</p>
            <!-- <h3>Ataque:...</h3>
            <h3>Defensa...</h3> -->
          </article>
        </div>
      </div>
    </main>
  </body>
</html>
